.btn:disabled {
  background-color: #1dd100;
  color: #fff;
}
#coupon-btn:disabled {
  background-color: #ddd;
  color: black;
}
#next-btn:disabled {
  background-color: #ddd;
  color: black;
}
html {
  scroll-behavior: smooth;
}
